#wrapper-content
  position: absolute
  bottom: -50em
  left: 0
  right: 0
  text-align: center
  width: 1012px
  margin: 0 auto
  .title
    color: $yellow
    margin-bottom: 35px
    font-size: 30px
  &.active
    -webkit-animation: show-content 2s ease both
    -moz-animation: show-content 2s ease both
    animation: show-content 2s ease both

#wrapper-footer
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 12px
  position: absolute
  bottom: 10px
  left: 10px