// Header
#wrapper-header
  background: url(../images/bg-lineup.jpg) center center
  background-size: cover
  height: 425px
  position: relative
  &::after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  .container, [class*="col"]
    position: relative
    z-index: 1
    height: 100%
    .main-title
      position: absolute
      bottom: 20px

.menu-lineup
  position: relative
  z-index: 1
  ul
    margin: 0
    padding: 1em 0
    li
      list-style: none
      display: inline-block
      a
        color: rgba(255,255,255,0.5)
        display: block
        padding: 0 20px
        &.active
          color: rgba(255,255,255,1)

// Main
#wrapper-content
  overflow: hidden
  &.items
    position: absolute
    top: 200em
    left: 0
    right: 0
    text-align: center
    &.active
      -webkit-animation: show-content 2s ease both
      -moz-animation: show-content 2s ease both
      animation: show-content 2s ease both
  &.inner
    background: rgba(6, 4, 27, 0.5)
    padding: 2.5em 0 6em
    p
      font-size: 17px
      margin: 10px 0

.sidebar
  background: rgba(16, 21, 47, 0.5)
  padding: 2em 1.5em

// Footer
#wrapper-footer
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 12px
  line-height: 14px
  position: absolute
  bottom: 10px
  &.center
    left: 0
    right: 0
    text-align: center
  &.fixed
    left: 10px
  p
    margin: 0