extends layouts/layout.pug

block content
  #wrapper-menu
    .menu
      ul
        li
          a(href="#")
            h3.item The Lineup
            img.image(src="images/the-lineup.svg", alt="The Lineup")
        li
          a(href="#")
            h3.item Jam Central
            img.image(src="images/jam-central.svg", alt="Jam Central")
        li
          a(href="#")
            h3.item Planet B- Ball
            img.image(src="images/planet-b-ball.svg", alt="Planet B-Ball")
        li
          a(href="#")
            h3.item Lunar Tunes
            img.image(src="images/lunar-tunes.svg", alt="Lunar Tunes")
        li
          a(href="#")
            h3.item Jump Station
            img.image(src="images/jump-station.svg", alt="Jump Station")
        li
          a(href="#")
            h3.item Warner Studio Store
            img.image(src="images/warner-studio-store.svg", alt="Warner Studio Store")
        li
          a(href="#")
            h3.item Behind the team
            img.image(src="images/behind-the-team.svg", alt="Behind the team")
        li
          a(href="#")
            h3.item Site map
            img.image(src="images/site-map.svg", alt="Site map")
        li
          a(href="#")
            h3.item Stellar sourvenirs
            img.image(src="images/stellar-souvenirs.svg", alt="Stellar souvenirs")
        li
          a(href="#")
            h3.item Junior Jam
            img.image(src="images/junior-jam.svg", alt="Junior Jam")
    .logo
      img(src="images/logo.svg", alt="Space Jam")
  .back
    img(src="images/back.svg", alt="Back Home")
  #wrapper-footer.fixed
    | SPACE JAM, characters, names, and all related.
    | Indicia are trademarks of Warner Bros. © 1996 - 2018