extends layouts/layout.pug

block content
  .menu
    ul
      li
        a(href="#")
          h3 Lunar Tunes
          img(src="images/lunar-tunes.svg", alt="Lunar Tunes")
      li
        a(href="#")
          h3 Jump Station
          img(src="images/jump-station.svg", alt="Jump Station")
      li
        a(href="#")
          h3 Warner Studio Store
          img(src="images/warner-studio-store.svg", alt="Warner Studio Store")
      li
        a(href="#")
          h3 Behind the team
          img(src="images/behind-the-team.svg", alt="Behind the team")
      li
        a(href="#")
          h3 Site map
          img(src="images/site-map.svg", alt="Site map")
      li
        a(href="#")
          h3 Stellar sourvenirs
          img(src="images/stellar-sourvenirs.svg", alt="Stellar sourvenirs")
      li
        a(href="#")
          h3 Junior Jam
          img(src="images/junior-jam.svg", alt="Junior Jam")
      li
        a(href="#")
          h3 The Lineup
          img(src="images/the-lineup.svg", alt="The Lineup")
      li
        a(href="#")
          h3 Jam Central
          img(src="images/jam-central.svg", alt="Jam Central")
      li
        a(href="#")
          h3 Planet B-Ball
          img(src="images/planet-b-ball.svg", alt="Planet B-Ball")
  .logo
    img(src="images/logo.svg", alt="Space Jam")