extends layouts/layout.pug

block content
  #wrapper-header
    .container
      .menu-lineup
        ul
          li
            a(href="/")
              | Home
          li
            a.active(href="#")
              | The Lineup
          li
            a(href="#")
              | Michael's Profile
          li
            a(href="#")
              | Michael's Stats
  #wrapper-content.inner
    .container
      .col-sm-8
        h2.title Meet the team
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veritatis aliquid, unde rem necessitatibus laboriosam laborum dolores iusto voluptatibus nemo. Saepe nostrum, reprehenderit eos qui quo, voluptate illo ducimus officiis.
      .col-sm-4
        h3.title-2nd.uppercase Features
        h4.title-3rd The Players
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veritatis aliquid, unde rem necessitatibus laboriosam laborum dolores iusto voluptatibus nemo. Saepe nostrum, reprehenderit eos qui quo, voluptate illo ducimus officiis.