extends layouts/layout.pug

block content
  #wrapper-header
    .container
      .menu-lineup
        ul
          li
            a(href="/")
              | Home
          li
            a.active(href="#")
              | The Lineup
          li
            a(href="#")
              | Michael's Profile
          li
            a(href="#")
              | Michael's Stats
  #wrapper-content
    .container